* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

header {
    background-color: black;
}

div.title {
    color: blue;
    text-align: center;
}

.container {
    display: flex;
    gap: 35px;
    padding: 30px;
  }
  .weather-input {
    width: 550px;
  }
  .weather-input input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .weather-input input:focus {
    padding: 0 16px;
    border: 2px solid #5372F0;
  }

main.dashboard {
    background-color: rgb(255, 251, 244)
}

div.cityList {
    margin-top: 20px;
}

div.city {
    padding: 10px;
}

div.cityName {
    background-color: white;
    color: black;
}

div.currentWeather h2
div.currentWeather h3 {
    font-size: 1.3rem;
    margin: 10px;
}

span#uv-index {
    color: white;
}

div.fiveDay h2 {
    font-size: 1.2rem;
}

div.fiveDay p {
    font-size: .8rem;
}

div.fiveDay p.card-title {
    font-weight: bold;
    color: white;
}

.card {
    background-color: darkgray;
}

.text-muted {
    color: white;
}